<!DOCTYPE html>
<html>
<head>
    <title>Socket.IO-demo</title>
    <script src="jquery.js"></script>

     <!-- để client kết nối với socket.io. Thư viện này có sẵn khi cài socket.io -->
    <script src="socket.io/socket.io.js"></script>

    <script>
    //gọi điện lên server
    const socket = io("http://localhost:3000");
    
    $(document).ready(()=>{
        //alert('hello JQUERY');
        $("#mrA").click(()=>{
            //mỗi client sẽ dc server cấp 1 socket riêng để server dễ quản lý
            socket.emit("Client-send-data","Hello");
        });
    });
    </script>
</head>
<body>
    <div id="mrA">Click Send</div>
</body>
</html>